service bootanim /system/bin/bootanimation
    class core animation
    #MIUI MOD: START
    #user graphics
    user audioserver
    #END
    group graphics audio
    disabled
    oneshot
    ioprio rt 0
    task_profiles MaxPerformance
